
.hero{
    margin-top: 80px;
}

.hero .container{
    display: flex;
    justify-content: space-between;
}


.hero_content{
    width: 40%;
    position: relative;

}

.hero_title{
    font-size: 66px;
    font-weight: 700;
    color: var(--button-color);
    z-index: 80;
}

.hero_text{
    color: var(--text-color);
    font-weight: 500;
    margin: 20px 0;
    width: 50%;
    z-index: 80;
}

.hero_box{
    margin-top: 200px;
    display: flex;
    align-items: center;
    z-index: 80;
}

.hero_btn{
    padding: 10px 40px;
    border-radius: 15px;
    background-color: var(--button-color);
    color: white;
    border: none;
    cursor: pointer;
}

.hero_up_img{
    height: 40px;
    width: 80px;
}


.h_tiny{
    position: absolute;
    top: 100px;
    right: 210px;
    z-index: -3;
}

.h_mid{
    position: absolute;
     top: 110px;
    right: 120px;
    z-index: -2;
}

.h_dis{
    position: absolute;
     top: 60px;
    right: -40px;
    z-index: -1;
}

.hero_img{
    width: 48%;
    height: 500px;
    border-radius: 15px;
}
